
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/web/ptsans.woff2) format("woff2"),
         url(../fonts/web/ptsans.woff) format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/web/ptsansbold.woff2) format("woff2"),
         url(../fonts/web/ptsansbold.woff) format("woff");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    background-color:#f2f2f2;
    color:#333333;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-transform: uppercase;
    
}

.wrapper {
    background-color:#ffffff;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.page-logo-link {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    line-height: 26px;
    padding-top: 13px;
    padding-bottom: 17px;
    
}

.nav-list  a {
    color: #000000;
    font-size:  14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.nav-list li:nth-child(1) {
    padding-left: 31px;
    width: 239px;
    margin-right: 48px;
    text-align: left;
}

.nav-list li:nth-child(2) {
    margin-right: 240px;
    text-align: left;
    width: 239px;
    padding-left: 28px;
}

.nav-list li:nth-child(3){
    width: 239px;
    text-align: right;
    margin-right: 42px;
    padding-right: 38px;
}

.nav-list li:nth-child(4){
    padding-right: 72px;
    text-align: right;
    width: 239px;
}

.nav-list a:hover {
    color: #81b3d2;
}

.nav-list a:active {
    color: rgba(0, 0, 0, 0.3);
}

.nav-item .current {
    color:#766357;
}

.main-wrapper {
    min-height: 508px;
    background-image:  url(../img/src/polygon.svg),
                       url("../img/main-background-photo.jpg");
    background-repeat: no-repeat;
    background-position: bottom,
    0px -56px;
    text-align: center;
}

.logo-sedona-img {
    padding-top: 75px;
}

.title-wrapper {   
    min-height: 215px;
    
}

.main-title {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    text-align:center;  
    padding-left: 295px;
    padding-right: 295px;
    padding-top: 57px;
    margin: 0px;
}

.main-subtitle {
    color:#333333;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 27px;
    margin: 0px;
    padding-left: 60px;
    padding: 60px;
}

.feature-section {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.feature-section-wrapper {
    display: flex;
    flex-direction: row;
    background-color: #eeeeee;
}

.feature-section.second {
    flex-direction: row;
}

.feature-section-third,
.feature-section-four,
.feature-section-five {
    
    text-align: center;
    width: 400px;
    height: 256px;
}

.feauture-picture {
    margin: 0;
    padding: 0;
    width: 800px;
    height: 256px;
}

.feauture-slogan-wrapper {
    display: flex;
    background-color: #81b3d2;
    width: 400px;
    height: 256px;
    flex-direction: column;
    text-align: center;
}

.feauture-slogan-head {
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
    text-transform: uppercase;
}

.feauture-text-white {
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-transform: uppercase;
    padding-left: 60px;
    padding-right: 60px;
}

.feauture-text.head {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
    text-transform: uppercase;
    padding-top: 25px;
    margin-top: 135px;
    margin-bottom: 10px;
}

.feauture-slogan {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
    text-transform: uppercase;
}

.feauture-text {
    color: #333333;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-transform: uppercase; 
    padding-left: 54px;
    padding-right: 55px;   
}

.feauture-list {
    display: flex;
    list-style: none;
    width: 1200px;
    margin: 0;
    padding: 0;
}

.feauture-item {
    display: flex;
    min-height: 330px;
    width: 400px;
    flex-direction: column;
    text-align: center;
}

.feedback-info {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.feedback-title {
    color:#000000;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 50px;
}

.feedback-text {
    color:#333333;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 42px;
}

.house::before {
    content: "";
    position: absolute;
    background-image: url(../img/src/icon-1.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;  
    height: 80px;
    margin-left: 158px;
    margin-top: 61px;
}

.food::before {
    content: "";
    position: absolute;
    background-image: url(../img/src/icon-2.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;  
    height: 80px;
    margin-left: 160px;
    margin-top: 61px;
}

.souvenirs::before {
    content: "";
    position: absolute;
    background-image: url(../img/src/icon-3.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 75px;  
    height: 72px;
    margin-left: 160px;
    margin-top: 61px;
}

.feedback-section {
    background-color: #ffffff;
}

.feedback-text-wrapper {
    text-align: center;
    padding: 0 316px;
}

.modal-content {
    position: relative;
}

.modal-form {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 55px;
    position: absolute;
    bottom: 160px;
    left: 50%;
    margin-left: -284px;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.popup-btn {
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    background-color: #766357;
    width: 568px;
    height: 86px;
    border: 1px solid #766357 ;
}

.popup-btn:hover {
    background-color: #604e43;
}

.popup-btn:active {
    background-color: #503e33;
    color:rgba(255, 255, 255, 0.3);
}

.modal-content {
    background-color: #ffffff;

}

.input-date {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}

.input-date::-moz-placeholder {
    color: #000000;
    opacity: 1;
    
}

.input-date::-webkit-input-placeholder {
    color: #000000;
    opacity: 1;
}

.input-date::-ms-input-placeholder {
    color: #000000;
    opacity: 1;
}

.input-date:-ms-input-placeholder {
    color: #000000;
    opacity: 1;
}

.input-date::placeholder {
    color: #000000;
    opacity: 1;
}

.input-field {
    color: #000000;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
}

.popup-calendar label,
.popup-area label  {
    color:#000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase; 
}

.input-date,
.input-field {
    background-color:#f2f2f2;
}

.input-date:hover,
.input-field:hover {
    background-color: #ebebeb;
}

.input-date:focus,
.input-field:focus {
    background-color: #ffffff;
}

.btn-submit {
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase; 
    background-color: #81b3d2;
    width: 458px;
    height: 58px;
    align-self: center;
}

.btn-submit:hover {
    background-color: #669ec0;
}

.btn-submit:active {
    background-color: #5496bd;
    color:rgba(255, 255, 255, 0.3);
}

.feedback-promo span,
.feedback-phone {
    color:#000000;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase; 
}

.social-wrapper {
    text-align: center;
    display: flex;
    align-self: center;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.social-item a {
  display: block;
  width: 45px;
  height: 48px;
  border: 1px solid rgba(157, 193, 214, 0.1);
  background-color: #5496bd;
  
}

.social-item a:hover {
    background-color:#669ec0;
}

.social-item a:active {
    background-color: #5496bd;
}

.social-item .tw {
    background-image: url("../img/src/twitter.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
    
}

.social-item .fb {
    background-image: url("../img/src/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
}

.social-item .ytb {
    background-image: url("../img/src/youtube.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
}

/* Состояние active для соц кнопок оставлю на потом в текущем варианте не работает */

.feedback-promo,
.logo-name {
    white-space: pre;
    color:#333333;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    text-transform: uppercase; 
}

.logo-svg  {
    fill: #231f20;
}

.logo-svg:hover {
    fill: #81b3d2;   
}

.logo-svg:active {
    fill: #bdbbbc;
}

.form-search-hotel {
    display: flex;
    height: 217px;
}

.form-search.forest {
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    background-position-y: -55px;
}

.checkbox-wrapper {
    border: none;
    margin: 0;
    padding: 0;
    width: 200px;
    margin-left: 57px;
    margin-top: 21px;
}

.checkbox-list {
    list-style: none;
    padding-left: 54px;
}

.checkbox-item {
   margin-bottom: 28px;
}

.checkbox-item label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.checkbox-field + label::before {
  content: "";
  position: absolute;
  background-image: url("../img/src/checkbox-off.svg");
  background-repeat: no-repeat;
  left: -40px;
  width: 27px;
  height: 23px;
 
}

.checkbox-field:checked + label::after {
    content: "";
  position: absolute;
  background-image: url("../img/src/checkbox-on.svg");
  background-repeat: no-repeat;
  left: -40px;
  width: 27px;
  height: 23px;
}

.checkbox-header {
    color:#ffffff;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    margin-left: 16px; 
}

.checkbox-label,
.btn-form {
    color:#ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-transform: uppercase;
}



.btn-form {
    border-color: #ffffff;
    color: #ffffff;
    background-color: transparent;
}

.btn-form:hover {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #000000;
}

.filter-range {
    box-sizing: content-box;
    width: 330px;
    margin-top: 27px;  
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: 65px;
    color: #ffffff;
    text-transform: uppercase;
  }

.filter-range-title {
    margin-bottom: 9px;
  
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }
  
  .price-controls {
    position: relative;
    
    height: 36px;
    margin-bottom: 20px;
    
    font-size: 0;
  
    border: 2px solid #ffffff;
    border-radius: 2px;
  }
  
  .price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 2px;
    height: 22px;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
  }
  
  .price-controls label {
    display: inline-block;
  
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
  
    cursor: pointer;
  }
  
  .price-controls .min-price,
  .price-controls .max-price {
    width: 90px;
    padding-left: 65px;
  }
  
  .price-controls input {
    width: 50px;
    margin: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
  }
  
  .range-controls {
    position: relative;
  
    margin-bottom: 32px;
  }
  
  .range-controls .scale {
    height: 2px;
  
    background: rgba(255, 255, 255, 0.3);
  }
  
  .range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
  }
  
  .range-toggle {
    position: absolute;
    top: -9px;
    
    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
  }
  
  .range-toggle:hover {
    background: #1c4f80;
  }
  
  .range-toggle-min {
    left: 0;
  }
  
  .range-toggle-max {
    left: 80%;
  }
  
  .btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
  
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
  
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .btn-transparent:hover {
    color: #000000;
  
    background: #ffffff;
  }
  

.sort-wrapper {
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    align-items: baseline;
    padding: 29px 72px 29px 72px;
}

.sort-panel-header {
    color:#000000;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase; 
    margin: 0;
    margin-right: 10px;
}

.sort-panel-text {
    color:#000000;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    margin-left: 26px;
    padding-left: 14px;
}

.sort-list {
    list-style: none;
    display: flex;
    width: 269px;
    justify-content: space-around;
    margin: 0;
    padding-left: 21px;
    margin-right: auto;
}

.sort-panel-item a {
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    border-bottom: dotted 1px #81b3d2;
}

.sort-panel-item a:hover {
    color: #81b3d2;
    border-bottom: dotted 1px #81b3d2;
}

.sort-panel-item a:active {
    color: #000000;
    border: none;
}

.sort-panel-item .current {
    color:#81b3d2;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    border: none;
}

.arrow {
    fill: #cacaca;
}

.arrow-down {
    margin-left: 10px;
}

.arrow:hover {
    fill: #231f20;
}

.arrow:active {
    fill: #81b3d2;
}


.arrow-down.active {
    fill: #81b3d2;
}

.rating {
    display: flex;
    padding: 25px 61px;
    border-bottom: 1px solid #e5e5e5;
}

.rating-fullimage-wrapper {
    width: 165px;
    height: 90px;
    margin-top: 7px;
    margin-left: 10px;
}

.rating-header-wrapper {
    width: 781px;
    min-height: 100px;
}

.rating-hidden-text-wrapper {
    display: flex;
    flex-direction: column-reverse;
    height: 97px;
    width: 110px;
    text-align: right;
    margin-left: 5px;
}

.rating-header,
.rating-text-link {
    color:#000000;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 2px; 
}
.rating-header:hover,
.rating-text-link:hover {
    color: #81b3d2;
}

.rating-header:active,
.rating-text-link:active {
    color:rgba(0, 0, 0, 0.3);
}

.rating-price-text {
    color:#333333;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-transform: uppercase;
    margin-top: 7px;
}

.rating-price {
    margin-left: 39px;
}

.rating-link,
.rating-button {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    text-transform: uppercase;
}

.rating-link {
    background-color: #81b3d2;
    width: 110px;
    height: 27px;
    display: inline-flex;
    padding-top: 4px;
    padding-left: 14px;
    margin-right: 6px;
}

.rating-link:hover {
    background-color: #669ec0;
}

.rating-link:active {
    background-color: #5496bd;
    color:rgba(255, 255, 255, 0.3);
}

.rating-button {
    background-color: #766357;
    width: 142px;
    height: 27px;
    display: inline-flex;
    padding-top: 4px;
    padding-left: 14px;
}

.rating-button:hover {
    background-color: #604e43;
}

.rating-button:active {
    background-color: #503e33;
    color: #928a85;
}

.rating-text {
    background-color: #f2f2f2;
    color: #666666;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    margin-bottom: 3px;
}

.rating-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    margin-left: 0px;
}

.rating-star {
    margin-right: 5px;
    list-style: none;
    background-image: url("../img/src/star.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 17px;
}